.tables
  .table-container
    table.table
      tr
        th one
        th two
        th number
        th four
      tr 
        td 213 
        td 213  
        td 
          input.cell-number 
        td 213    
