/** layout */
body
  margin: 0
  padding: 0

.container
  display: flex
  height: 100%
  display: flex

// .layout-column
//   border: 1px dashed #cccccc

.column-left
  padding-left: 10px
  width: 200px
  align-self: flex-end

.column-content
  padding-left: 10px
