<!DOCTYPE html>
html
  head
    title Последняя сетка, шаг 2
    meta(charset='utf-8')
    meta(name='description', content='')
    link(rel='stylesheet', href='2.css')
    
  body
    .header
      .layout-positioner
        .layout-column-1.layout-column 
          .header__title Лого
        .layout-column-2.layout-column 
          .header__menu Меню
        
    .features
      .layout-positioner
        .layout-column Колонка 1
          p dfgdfgdf dfgdfgdfdf gd fg dfgdfgdf
        .layout-column Колонка 2
        .layout-column Колонка 3
        
    .footer
      .layout-positioner 
        .footer__title Футер
