doctype html
html(lang="ru")
  head
    title Испытание: строим сетку
    meta(charset="utf-8")
    meta(name='description', content='')
    link(rel='stylesheet', href='index.css')
  
  body
    .layout-top
      .positioner.header__title Header
      .header__menu Menu
      .positioner
        .promo-list
          .promo-item Promo 1
          .promo-item Promo 2
    .layout-content
      .positioner
        .column Left
        .column Main
        .column Right
    .footer
      .positioner
        p Footer
  
