
+table_simple(
  "Ответственные по складу",
  ["Параметры", "Несоответсвия", "Принятые меры", "Время замеров"],
  ["Zn", "Sb", "Pb", "St", "t", "VIU" ,"t2", "Cd", "Sn"]
)

+table_simple(
  "Длинная таблица",
  ["Условия", "Оборудование", "Тепмпература", "Время замеров"],
  ["Al", "Sa", "Ps", "Sn", "t1", "Vismut" ,"Ar", "Au", "Ag", "Si", "Li", "Mg", "Mg"]
)
