@import "colors.scss";
@import "layout.scss";
@import "menu.scss";
@import "tables.scss";
@import "misc.scss";

/*content */
.header {
  color: white;
  vertical-align: middle;
}

.header > div {
  line-height: 50px;
  margin-right: 20px;
}

.header__logo {
  padding-left: 20px;
}

.header__title {
  margin-left: 70px; 
}

.header__user {
  margin-left: auto;
}

.header__user > i,span {
  margin-right: 10px;
}

.main-container {
  background-color: $color-bg1;
}

.column-left {
  background-color: $color-bg1;
  padding-left: 0;
}

.column-content {
  background-color: $color-content;
}

/*layout tables */
.journal-page {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 10px;
}

.journal-table {
  td {
    background-color: gray;
  }
}
