//- - var items ['one', 'two', 'three']
doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Flex example
    base(href='./')
    //- link(rel='stylesheet', href='outlines.css')
    link(rel='stylesheet', href='css/index.css')
  body
    .container  
      .column-left
        p lorem ipsum
        ul.left-menu 
          
      .column-content  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore fugiat earum a, quis deserunt quidem! Rem aliquam, asperiores eaque architecto deleniti maxime modi! Molestiae adipisci hic quis unde, autem dicta!
  
