doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title The Great Keksby
    base(href='./')
    //- link(rel='stylesheet', href='outlines.css')
    link(rel='stylesheet', href='index.css')
  body
    .container  
      .palette
        .color-green g
        .color-yellow y
        .color-magenta m
        .color-blue b
  
    .container  
      .parent
        .child 1
        .child 2
        .child.child--featured 3
        .child 4
