 - var menu = {items:[ 
   {name: "Россия", childs:[ {name: "Москоская область", childs:[ {name: "Москва"}, {name: "Серпухов"}, {name: "Протвино"} ]} ]},
   {name: "США", childs:[ {name: "Калифорния", childs:[ {name: "Майами"}, {name: "Los Angeles"} ]} ]},
   {name: "Испания", childs:[ {name: "Не каталония", childs:[ {name: "Мадрид"} ]} ]},
  ]
};

//- 
//- }, 
//-  {name: "Калужская область", childs:[{name: "Калуга"}]}]}, 
//-  {name: "США", childs:[ {name: "Атланта"}, {name: "Нбю-Йорк"}]}, 
//-  {name: "Испания", childs:[{name: "Мадрид"}]}, 
//-  {name: "Венесуэлла", childs:[{name: "Каракас"}]} 
